body{
  background-color: rgb(240, 240, 240);
  background-image: none;
}
*{
  margin: 0;
  padding: 0;
}
img{
  border: 0;
}
ul,li,ol{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
/*盒布局*/
.box , .flex{
  display: flex;
  box-sizing: border-box;
  .cell{
    flex: 1;
    width: 0;
    max-width: 100%;
    flex-basis: 0;
    display:block;
    position: relative;
    a{
      display:block;
      height: auto;
      text-align: center;
      img{
        display: block;
        margin: 0 auto 5px;
      }
    }
  }
}
/*多行，子项溢出到下一行*/
.flex-wrap{
  flex-wrap:wrap;
}
/*单行，可能会溢出*/
.flex-wrap-no{
  flex-wrap: nowrap;
}
/*子项反转*/
.flex-wrap-re{
  flex-wrap: wrap-reverse;
}
/*盒布局子项占用比例*/
@for $i from 1 through 5{
  .flex#{$i}{flex:$i}
}
/*宽度高度*/
@for $i from 1 through 20{
  .w#{$i}{width:1px * $i}
  .h#{$i}{height:1px * $i}
}
/*外边距*/
@for $i from 1 through 10{
  .m#{$i}{margin:1px * $i}
  .mt#{$i}{margin-top:1px * $i}
  .mb#{$i}{margin-bottom:1px * $i}
  .ml#{$i}{margin-left:1px * $i}
  .mr#{$i}{margin-right:1px * $i}

  .p#{$i}{padding:1px * $i}
  .pt#{$i}{padding-top:1px * $i}
  .pb#{$i}{padding-bottom:1px * $i}
  .pl#{$i}{padding-left:1px * $i}
  .pr#{$i}{padding-right:1px * $i}
}
/*自号*/
@for $i from 12 through 15{
  .fs#{$i}{font-size:1px * $i}
}

/*背景*/
.b_red{
  background: red;
}
.b_blue{
  background: blue;
}
.b_yellow{
  background: yellow;
}
.b_yellow1{
  background: yellow;
}

